.node{
    font: 300 11px "Helvetica Neue", Helvetica, Arial, sans-serif;
    fill: #bbb;
}

text{
    font: 300 11px "Helvetica Neue", Helvetica, Arial, sans-serif;
    fill: #ECE9E0;
}

.tableText{
    font:  11px "Helvetica Neue", Helvetica, Arial, sans-serif;
    color: #ECE9E0;
}

.POK{
    color: #fb8072 !important;
    fill:#fb8072 !important:
}

.Stalking{
    color: #ECE9E0 !important;
    fill:#ECE9E0 !important:
}
.invisible{
    visibility: hidden;
}

.Leaving{
    color: #80b1d3 !important;
    fill: #80b1d3 !important;
}

.table{
    fill:none;
    stroke:#f1a620;
    visibility: hidden;
}

.node:hover {
    fill: #000;
}

.link {
    stroke: steelblue;
    stroke-opacity: 0.1;
    stroke-width: 2.5px;
    fill: none;
    pointer-events: none;
}

.Information{
    fill: #b3de69;
}
.POK{
    fill: #fb8072;
}
.Administration{
    fill: #ff7f00;

}
.Facilities{
    fill:#f4cae4;
}
.Executive{
    fill: #80b1d3;
}
.Engineering{
    fill: #f781bf;
}
.Security{
    fill: #ffed6f;
}


.node:hover,
.node--source,
.node--target {
    font-weight: 700;
}

.node--source {
    fill: #2ca02c;
}

.node--target {
    fill: #d62728;
}

.link--source,
.link--target {
    stroke-opacity: 1;
    stroke-width: 2px;
}

.link--source {
    stroke: #d62728;
}

.link--target {
    stroke: #2ca02c;
}